<h3>Counter</h3>

<div>Count: @Count</div>

<div><button @onclick="@onClick">Increment Count</button></div>

@code {
    [Parameter] public int Count { get; set; } = 0;

    private void onClick()
    {
        Count++;
    }
}
