<h3>Counter</h3>

<div>Count: @Count</div>

<div><button @onclick="@onClick">Inc</button></div>

<div>@ChildContent</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public int Count { get; set; } = 0;

    private void onClick()
    {
        Count++;
    }
}
