@page "/demo"

<Slides Theme="Theme.Black">
    <Slide>
        <h2>Fragment Styles</h2>
        <p>There's different types of fragments, block elements like:</p>
        <p><Fragment FragmentStyle="FragmentStyle.Grow">grow</Fragment></p>
        <p><Fragment FragmentStyle="FragmentStyle.Shrink">shrink</Fragment></p>
        <p><Fragment FragmentStyle="FragmentStyle.ZoomIn">Zoom in</Fragment></p>
        <p><Fragment FragmentStyle="FragmentStyle.FadeOut">fade-out</Fragment></p>
        <p>
            <Fragment FragmentStyle="FragmentStyle.FadeRight">fade-right, </Fragment>
            <Fragment FragmentStyle="FragmentStyle.FadeUp">up, </Fragment>
            <Fragment FragmentStyle="FragmentStyle.FadeDown">down, </Fragment>
            <Fragment FragmentStyle="FragmentStyle.FadeLeft">left</Fragment>
        </p>
        <p><Fragment FragmentStyle="FragmentStyle.FadeInThenOut">fade-in-then-out</Fragment></p>
        <p><Fragment FragmentStyle="FragmentStyle.FadeInThenSemiOut">fade-in-then-semi-out</Fragment></p>
        <p>Highlight <Fragment FragmentStyle="FragmentStyle.HighlightRed">red</Fragment> <Fragment FragmentStyle="FragmentStyle.HighlightBlue">blue</Fragment> <Fragment FragmentStyle="FragmentStyle.HighlightGreen">green</Fragment></p>
        <p><Fragment FragmentStyle="FragmentStyle.Strike">Strike through</Fragment></p>
    </Slide>
</Slides>