@page "/"
<Slides Theme="Theme.Black">
    <Slide>
        <h1>Slide 1</h1>
    </Slide>
    <Slide>
        <h1>Slide 2</h1>
    </Slide>
    <Slide>
        <h1>Slide 3</h1>
    </Slide>
    <Slide>
        <h1>Slide 4</h1>
    </Slide>
</Slides>