<Slides>
    <section>
        Slide 1
        <div>
            <Counter Count="10">
                <strong>This is a test</strong>
            </Counter>
        </div>
    </section>
    <section>
        <section>
            <h3>Vertical Slide 2.1</h3>
            <p>Hit the next arrow...</p>
            <p class="fragment">... to step through ...</p>
            <p>
                <span class="fragment">... a</span>
                <span class="fragment">fragmented</span>
                <span class="fragment">slide.</span>
            </p>
        </section>
        <section>Vertical Slide 2.2</section>
    </section>
    <section>
        <section>Vertical Slide 3.1</section>
        <section>Vertical Slide 3.2</section>
    </section>
    <section>Slide 4</section>
    <section data-markdown>
        <textarea data-template>
        ## Markdown support

        Write content using inline or external Markdown.
        Instructions and more info available in the [readme](https://github.com/hakimel/reveal.js#markdown).

        ```
        <section data-markdown>
            ## Markdown support

            Write content using inline or external Markdown.
            Instructions and more info available in the [readme](https://github.com/hakimel/reveal.js#markdown).
        </section>
        ```
    </textarea>
    </section>
</Slides>