<section class="stack">
    @foreach(ISlideWithContent slide in CurrentSlide.VerticalSlides)
    {
        <SlideContent CurrentSlide="@slide" CurrentHorizontalIndex="@CurrentHorizontalIndex" CurrentVerticalIndex="@CurrentVerticalIndex" />
    }
</section>

<Styled @bind-Classname="@_stack">
    padding-top: 0;
    padding-bottom: 0;
    pointer-events: none;
    height: 100%;
</Styled>

@code {
    //Styles
    private string _stack;

    [Parameter] public int CurrentHorizontalIndex { get; set; }
    [Parameter] public int CurrentVerticalIndex { get; set; }
    [Parameter] public ISlideContainer CurrentSlide { get; set; }
}
